@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
/* STOP HORIZONTAL OVERFLOW */
html, body {
    width: 100%;
    overflow: hidden;
    
}

/* BODY */
body{
    background: transparent;
    color: white;
}

/* LOGO */
.logo{
    font-size: 25px;
    font-weight: 600;
    color: #ededed;
    text-decoration: none;
}


/* ================= NAVBAR ================= */
.navbar {
  padding: 0;
  background: rgba(15, 23, 42, 0.55);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
}

.logo:hover {
  color: #38bdf8;
}

.nav-link {
  color: #e5e7eb !important;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #38bdf8 !important;
}

.nav-link:hover::after {
  width: 100%;
}
.nav-link {
    color: white !important;
}



/* ================= BUTTONS (UNCHANGED) ================= */

.btn-box{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn-box a{
    position: relative;
    width: 150px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    color: #041827;
    text-decoration: none;
    font-weight: 600;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:hover{
    background: #041827;
    color: #00abf0;
}


/* ================= HOME ================= */

.home{
    min-height: 100vh;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0% 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 52px;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    color: #00abf0;
    margin: 10px 0;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0;
}

.home-sci{
    margin-top: 40px;
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.home-sci a{
    width: 40px;
    height: 40px;
    border: 2px solid #00abf0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00abf0;
    font-size: 20px;
}

.home-sci a:hover{
    background: #00abf0;
    color: #041827;
}

.admin-login a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
    background-color: #00abf0;
    border-radius: 20px;
    padding: 10px 30px; 
    left: 195%;
    bottom: 35px;
    cursor: pointer; 
    transition: 0.3s ease;
}
.admin-login a:hover {
    background: #041827;
    text-shadow: 0 0 25px #00abf0;
    border: 2px solid #00abf0;
}
/* ================= CANVAS ================= */

#gl {
    position: fixed;
    inset: 0;
    z-index: -1;
}

/* ================= ROBOT ================= */

/* DESKTOP */
.robot-3d {
    position: absolute;
    margin-right: -170px;
    margin-top: -130px;
    margin-bottom: -70px;
    right: 0;
    width: 600px;
    height: 600px;
    pointer-events: none;
}

.glow {
    text-shadow: 0 0 10px #00aaff;
}


.gradient {
    font-size: 60px;
    font-weight: 800;
    display: inline-block;

    background-image: linear-gradient(
        90deg,
        #008baa,
        #7e42a7,
        #6600c5,
        #6070fd,
        #2a46ff,
        #0099ff,
        #008baa
    );

    background-size: 400% 100%;
    background-position: 0% 50%;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradientMove 4s linear infinite !important;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 400% 50%;
    }
}

/* ================= MOBILE + IPAD ONLY ================= */

@media (max-width: 900px) {

    body {
        overflow: hidden;
    }
    .robot-3d {
        width: 500px;
        height: 500px;
        align-items: center;
        display: flex;
        position: relative;
        justify-content: center;
        overflow: hidden;
        }

    .home {
        min-height: auto;
        padding-top: 130px;
        margin: 0;
    }
    .home-sci {
        margin-top: 70px;
    }
    .admin-login a{
        left: 0%;
        bottom: -35px;
        border-radius: 5px;
    
    }
}




/* ================= NAVBAR ================= */
.navbar {
  padding: 0 !important;
  background: rgba(15, 23, 42, 0.55);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  max-width: 100%;
  z-index: 1000;
}
.navbar-collapse {
  width: 100% !important;
}

/* LOGO */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
}

.logo:hover {
  color: #38bdf8;
}

/* NAV LINKS */
.nav-link {
  color: #ffffff !important;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #38bdf8 !important;
}


@media (max-width: 767.98px) {

  /* Center collapsed menu items */
  .navbar-nav {
    text-align: center;
    padding-bottom: 10px;
  }

  .nav-link {
    margin-right: 0 !important;
    padding: 10px 0;
  }

  /* Toggler button visibility */
  .navbar-toggler {
    border: none !important;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }
}

/* ================= TABLET (iPad & below) ================= */
@media (max-width: 1024px) {

    html, body {
        overflow: auto;
    }

    /* Projects: 2 columns */
    #public-list {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Forms */
    .form-grid {
        grid-template-columns: 1fr;
    }

    .form-grid textarea,
    .form-actions {
        grid-column: span 1;
    }
    /* Card image */
    .card img {
        height: 170px;
    }
    
    .collapse ul {
        margin: 0 !important;
    }
    .collapse .navbar-nav a {
        margin-right: 0 !important;
    }
    .navbar-collapse {
    position: relative;
    display: flex;
    justify-content: center;
    }
    .navbar-nav {
    gap: 55px;   /* increase/decrease as you like */
    padding-left: 18% !important;
    }
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
    /* About page */
    .about-content p {
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.7;
        padding-right: 0;
    }

    .about h2 {
        font-size: 35px;
    }

    /* Admin login button */
    .admin-header .admin-login-btn {
        font-size: 10px;
        padding: 8px;
    }

    /* Projects: single column */
    #public-list {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 14px;
    }

    .card img {
        height: 160px;
    }

    .admin-wrapper {
        padding: 18px;
    }

    .navbar .nav-link {
        left: 0;
    }
    .navbar-nav {
    gap: 10px;   /* increase/decrease as you like */
    padding-left: 0% !important;
    }
      /* Toggler button visibility */
  .navbar-toggler {
    border: none !important;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }
}

/* ================= SMALL MOBILE ================= */
@media (max-width: 640px) {

    .admin-header h2 {
        font-size: 24px;
        margin-left: 0;
    }

    .admin-header {
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }
}
